<header class="md-header" data-md-component="header">
    <!-- Button to open drawer (mobile) -->
    <label class="md-header__button md-icon" for="__drawer">
        {% include ".icons/material/menu.svg" %}
    </label>

    <nav class="md-header__inner md-grid" aria-label="{{ lang.t('header') }}">

        <!-- Banner Logo -->
        <div class="header-banner">
            <img src="{{ 'assets/images/banner.png' | url }}" alt="Header Banner">
        </div>
        <div class="md-header__title" data-md-component="header-title">
            <div class="md-header__ellipses">
                <div class="md-header__topic">
                    <span class="md-ellipsis">
                        <!-- {{ config.site_name }} -->
                    </span>
                </div>
            </div>
        </div>

        <!-- Navigation Menu -->
        <div class="header-nav">
            {% include "partials/nav.html" %}
        </div>

    </nav>
</header>